body {
    #background-color: darkslategray;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}
.ascii-art {
    #font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    text-align: center;
    background: -webkit-linear-gradient(green, purple); /* #eee, #333) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.7vw;
    font-family: monospace;
    font-weight: bolder;
    white-space: pre;
    text-decoration: none;
}
.ascii-art pre {
    display: inline-block;
    text-align: left;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.centerdiv {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    padding: 1em;
    border: thick solid;
    background-color: darkslategray;
    /* border-color: slategrey; */
    border-image: linear-gradient(to bottom right, red, yellow, lime, aqua, blue, magenta, red) 1 1 1 1;
}

.subdiv {
    padding: 1em;
    margin: 1em;
    border-top: thin solid;
    border-image: linear-gradient(to right, red, yellow, lime, aqua, blue, magenta, red) 1 0 0 0;
}

.audiodiv {
    /*align: bottom left;*/
    bottom: 0;
    left: 0;
    position: fixed;
    border: medium solid;
    padding: 0.3em;
    max-width: 11.5em;
    background-color: darkslategray;
    border-radius: 0.2em;
    border-color: slategrey;
    margin: 0.5em;
}

audio {
  max-width: 100%;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.image_off, #facerev:hover .image_on{
    display:none;
}
.image_on, #facerev:hover .image_off{
    display:block;
}

.img_30 {
    max-width: 30%;
    padding: 1em;
}

.img_10 {
    max-width: 10%;
    padding: 1em;
}
img {
    padding: 1em;
    max-width: 95%;
}

.navbar {
  max-width:70%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1em;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0.2em;
  /* background-color: darkblue; */
  background-image: linear-gradient(to bottom right, darkblue, purple);
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  font-family: Arial;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.pageselect {
  display: block;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1em;
}
a {
  color: skyblue;
}

.dirselect {
  font-size: x-large;
  list-style-type: none;
}

.images-container {
  display: flex; /* Make it a grid :3 */
  flex-wrap: wrap;
}

.image-container {
  padding: 0.2em;
  text-align: center;
  font-size: small;
}

.image-container a img {
  max-width: 90%;
}

.image-container img {
  border: 1px solid #ddd;
  border-radius: 0.2em;
  padding: 0.25em;
}

.image-container img:hover {
    box-shadow: 0 0 0.4em 0.2em rgba(170, 170, 255, 0.9);
  }

.imageContainer img {
  border: 1px solid #ddd;
  border-radius: 0.2em;
  padding: 0.25em;
}

.imageContainer img:hover {
    box-shadow: 0 0 0.4em 0.2em rgba(170, 170, 255, 0.9);
  }

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  opacity: 0.3;
  z-index: -100;
}
.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}


@media only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {

  .centerdiv {
      width:90%;
      margin-left:auto;
      margin-right:auto;
      padding: 1em;
      border: thick solid;
      background-color: darkslategray;
      /* border-color: slategrey; */
      border-image: linear-gradient(to bottom right, red, yellow, lime, aqua, blue, magenta, red) 1 1 1 1;
  }
  .ascii-art {
    #font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    text-align: center;
    background: -webkit-linear-gradient(green, purple); /* #eee, #333) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9vw;
    font-family: monospace;
    font-weight: bolder;
    white-space: pre;
    text-decoration: none;
}
.ascii-art pre {
    display: inline-block;
    text-align: left;
}
.navbar {
  max-width:93%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1em;
}
.audiodiv {
    display: none;
}
}   